<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dzebsu.acctrip"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
 <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
    <application
        android:name="LocalizedTripMoney"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TripMoneyTheme" >
       
        <activity android:configChanges="locale"
            
            android:name="com.dzebsu.acctrip.EventListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:configChanges="locale"
            android:name="com.dzebsu.acctrip.EditEventActivity"
            android:label="@string/title_activity_edit_event"
            android:parentActivityName="com.dzebsu.acctrip.EventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dzebsu.acctrip.MainActivity" />
        </activity>
        <activity android:configChanges="locale" android:name="com.dzebsu.acctrip.OperationListActivity" >
        </activity>
        <activity android:configChanges="locale" android:name="com.dzebsu.acctrip.EditOperationActivity" >
        </activity>
        <activity android:configChanges="locale"
            android:name="com.dzebsu.acctrip.DictionaryActivity" >
        </activity>
        <activity android:configChanges="locale" android:name="com.dzebsu.acctrip.OperationDetailsActivity" >
        </activity>
        <activity android:configChanges="locale" android:name="com.dzebsu.acctrip.settings.SettingsActivity" >
        </activity>
    </application>

</manifest>